@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
.miama{font-family: 'Miama', sans-serif;
font-size: 5rem;
font-weight: 400;}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"slnt" 0;}
  body{
    background-color: black;
    width: 80%;
    margin: 5rem auto;
    border-radius: 1rem;
    
  }
*{margin: 0%;}


.title-description{
    color:rgba(255, 255, 255, 0.5) ;
    
}
.org-color{
    color: rgb(230, 83, 60);
}

.white-color{
    color: rgb(255, 255, 255);
}
.bg-color-black-lite{
    background: rgb(34, 34, 34);
}


/* navbar work */
.nav-option{
    width: 456px;
    display: flex;
    justify-content: space-evenly;
    gap: 47px;
    line-height: normal;
    text-align: center;
    align-items: center;
    
}
.fitness{
    font-size: 2.4rem;
    font-weight: 800;
    
}
.home{
     width: 92px;
     height: 26px;
     padding:  8px 8px ;
     padding-top: 12px;
     border-radius: 46px;
     background-color:rgb(230, 83, 60) ;
   
     
     
     
}
.nav-content{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5rem auto;
    border-radius: 1rem;
    
        
   
}

header{
   
    width: 1440px;
    height: 715px;
    
    
}

/* banner style hare */
.banner{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-size: 4.5rem;
    font-weight: 900;
}

.banner-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 42px;
    font-size: 1,125rem ;
    font-weight: 600;
    line-height: 1.375rem;

}

.beg-color-org{
    background-color:rgb(230, 83, 60) ;
    }
    
.bag-color-nun{
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
}
.banner-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;

}

/* box card option */
.dot{
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgb(230, 83, 60); 
    border-radius: 50%;

}

.box-a{
    padding: 10px 21px 20px 21px ;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 70%;
    margin-bottom: 25%;
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0;
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
   
}
.box-a-title {
    font-size: 40px;
    font-weight: 900;
}

.discription {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}

.dot{
    height: 40px;
    width: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
}
.box-b{
    display: flex;
    flex-direction: row;
    padding: 10px 21px 20px 21px ;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 50%;
    margin-bottom: 10%;
    width: 200px;
    height: 90px;
    position: absolute;
    bottom: 0;
    color: white;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.box-b-title{
    font-size: 24px;
    font-weight: 900;
}
.box-text{
    margin-top: 10px;
}

/* "Change Your Habits" option start hare */
.Change-Your-Habits h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}

.Change-Your-Habits p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;

}

.item{

    position: static;
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 40px;
}
.item img {
    border-radius: 50%;
    margin-bottom: 2rem;
}

.work-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin-top: 4rem;
}

.item p {
    text-align: center;
}


/* "Run an Extra Mile Easily" start hare! */

   
    


.b-title{
    font-size: 48px;
    font-weight: 900;
   


}
.text-b{
    padding-top: 14px;
    padding-left: 25px;
    position: static;
    width: 90rem;
    height: 325px;
    display: flex;
    border-radius: 1.1rem;
    margin-top: 3rem;
    


}
 .text-b img {
    position: absolute;
    width: 366px;
    height: 312px;
    border-radius: 1.1rem;
    margin-left: 32%;
 }

 /* BMI Calculator start hare !!! */
 .c-section h1{ 
    
    font-size: 48px;
    font-weight: 900;
 }
 .calculator-title{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 88px;
 }
 
 table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 8px; 
    height: 43px;
    width: 150px;
    border-collapse: collapse;
   

}
td{
    color:  rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
table{
    width: 310px;
    margin-left:10.5rem ;
    
}


  .thard-section{
    width: 100%;
    height: 487px;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
  }
  .chart h3{
    font-size: 28px;
    font-weight: 900;
    margin-left:10.5rem ;
    padding-top: 3.25rem;
  }
  input{
    height: 40px;
    width: 220px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .something{
    
    padding-top: 3.3rem;
    padding-right: 10rem;
  }




  @media only screen and (max-width: 5760px){
  .nav-content{
    display: flex;
    flex-direction: column;
    
  }
    
  }